<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.idl.face.platform.ui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="com.baidu.liantian.LiantianProvider"
            android:authorities="com.umpay.linkageplus.liantian.ac.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name="com.baidu.liantian.LiantianService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.baidu.liantian.LiantianReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
